#schedule-content
  %h1.text-center
    Schedule for
    = @conference.title
  .dropdown.schedule-dropdown
    %button{ type: "button", class: "btn btn-default dropdown-toggle", 'data-toggle' => "dropdown" }
      = @dates.first
      %span.caret
    %ul.dropdown-menu
      - @dates.each do |date|
        %li.li-dropdown-schedule
          = link_to date, "#" + "#{date}", "data-toggle" => "tab", "class" => "date-tab"

  .tab-content
    - @dates.each do |date|
      .tab-pane{ class: "#{ (@dates.first == date) ? 'active' : '' }", id: "#{date}" }
        = render partial: 'day_tab', locals: { date: date }

