%html{:xmlns => "http://www.w3.org/1999/html"}
  /FIXME: nest this in body, convert partial to a proper bootstrap css
  = render('/refinery/site_bar', :head => true)
  %head
    = render "/refinery/head"
  %body.site-body
    = render "/refinery/html_tag"
    = render "/refinery/header"
    = yield
    %footer.navbar-static-bottom.site-footer
      .container.text-center
        .col-md-12
          = render "/refinery/footer"
